html {
    font-family: Arial; 
    display: inline-block; 
    margin: 0px auto; 
    text-align: center;
  }
  h1 {
    font-weight: bold; 
    color: #126e54; 
    font-size: 32px;
  }
  .container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
  }
  .button-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 10px;
  }
  .button { 
    background-color: #1BAE85; 
    border: none; 
    color: white; 
    padding: 16px 40px;
    text-decoration: none; 
    font-size: 30px; 
    margin: 2px; 
    cursor: pointer; 
    width: 200px;
  }
  .button-title {
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 5px;
  }
  #footer {
    margin-top: 20px; 
    font-size: 16px; 
    color: #555;
  }